/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Content ast container **/
#content .ast-container {
	box-sizing: content-box !important;
}

/** Geral >> Post 116 **/
#post-116 {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
a.powrMarkLink {
	display: none !important;
	visibility: hidden !important;
}

/** Geral >> PbSliderfwrsw 62c3993b2250e isActive (::after) **/
#pbSliderfwrsw_62c3993b2250e .isActive::after {
	
}

/** Geral >> Post 116 wp block uagb advanced heading **/
#post-116 .wp-block-uagb-advanced-heading {
	
}

/** Geral >> Uagb block db989eb8 uagb section overlay **/
.uagb-block-db989eb8 .uagb-section__overlay {
	
}

/** Geral >> Ast desktop header ast builder grid row container **/
#ast-desktop-header .ast-builder-grid-row-container {
	
}

