/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Content ast container **/
#content .ast-container {
	box-sizing: content-box !important;
}

/** Geral >> Post 116 **/
#post-116 {
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

